<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <base href="/main/" />
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/toastr/toastr.min.css" rel="stylesheet" />
</head>
<body>
    {% module ModEntry(modName) %}

    <script type="text/javascript" src="/static/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/angular/angular.js"></script>
    <script type="text/javascript" src="/static/angular/angular-route.js"></script>
    <script type="text/javascript" src="/static/angular/angular-resource.js"></script>
    <script type="text/javascript" src="/static/toastr/toastr.min.js"></script>

    <script type="text/javascript" src="/static/app/main.js"></script>
</body>
</html>